# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
data/*.csv
outputs/models/*.pkl
outputs/plots/*.png
*.log

# Streamlit Cloud model files
!outputs/models/*.pkl

# Security & MLflow
.env
mlflow.db

# Docs build
site/
